body {
  background: #1a1a1a;
  background: linear-gradient(45deg, #080808, #252424);
  color: #fff;
  font-family: 'Segoe UI', 'Monserrat', sans-serif;
  margin: 5pt 20pt;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

::selection {
  color: #a2dfbd;
  background-color: #335a44;
}

h1 {
  font-weight: 100;
  font-size: 500%;
  text-align: center;
  margin: 25% auto calc(25% + 15pt);
}

div.title {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vw;
  margin: 0 auto;
  height: 80vh;
  display: block;
  overflow: hidden;
}

h2, h3 {
  font-weight: bold;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: 3pt;
  color: #eefff5;
  text-align: center;
}

h2 {
  opacity: 20%;
  margin-bottom: 50pt;
}

h3 {
  font-size: 150%;
  margin: 10pt 0 30pt;
  letter-spacing: 1pt;
}

entry {
  display: none;
}

entry:target {
  max-width: 950pt;
  margin: 15vh auto;
  display: block;
}

div.sublist {
  display: block;
  margin: 5pt 10pt;
  padding: 25pt 55pt 32.5pt;
  line-height: 150%;
  font-size: 150%;
}

div.sublist:nth-child(1) {
  background: linear-gradient(90deg, hsl(154.7, 29.2%, 38.2%), hsl(146, 44.1%, 40%));
  border: solid 1pt hsl(154.4, 48.8%, 75.5%);
  box-shadow: hsl(148, 45%, 50%, 10%) 0 0 30pt;
}

div.sublist:nth-child(2) {
  background: linear-gradient(90deg, hsl(102.1, 29.2%, 38.2%), hsl(84, 44.1%, 40%));
  border: solid 1pt hsl(87.5, 48.8%, 75.5%);
  box-shadow: hsl(100, 45%, 50%, 10%) 0 0 30pt;
}

div.sublist:nth-child(3) {
  background: linear-gradient(90deg, hsl(47.4, 29.2%, 38.2%), hsl(50.7, 44.1%, 40%));
  border: solid 1pt hsl(39.3, 48.8%, 75.5%);
  box-shadow: hsl(48, 45%, 50%, 10%) 0 0 30pt;
}

div.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 3;
  align-items: center;
  gap: 20pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}